{{> head}}

    {{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Columna uno</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit officia asperiores incidunt quo beatae libero, nesciunt enim minima ipsa fugiat expedita dicta ab inventore, nostrum accusantium voluptatibus. Labore, sed eius?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/TPHD_Wingcrest_Artwork.png" class="img-thumbnail">
        </div>

    </div>

{{> footer}}